<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="cn.mlb.spider.mapper.MediaMapper">
  	<select id="queryAllOrderByRatingDesc" resultType="Media" >
  		SELECT DISTINCT title, url from resource ORDER BY rating desc
  	</select>
  
  	<insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
  		INSERT INTO resource (
			title,
			url,
			img,
			file_size,
			category,
			duration,
			create_time,
			update_time,
			rating,
			img_loc
		)
		VALUES
			(
				#{title},
				#{url},
				#{img},
				#{fileSize},
				#{category},
				#{duration},
				now(),
				now(),
				#{rating},
				#{imgLoc}
			);
  	</insert>
  
  </mapper>